header {
    margin-inline: auto;
    text-align: center;
}

header img {
    width: 200px;
}

header p {
    border-top: 3px solid rgb(247, 192, 120);
    background-color: rgba(250, 235, 215, 0.701);
    color: green;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
}

.paddingsetting {
    margin-inline: auto;
    padding-left: 30%;
    padding-right: 30%;
}

body {
    font-family: "PT Serif", serif;
}

h1 {
    text-align: center;
    font-family: "DM Serif Display", serif;
}

hr {
    border-color: aqua;
}

.boldfont {
    font-weight: bold;
}

main article section {
    border-left: 3px solid rgb(247, 192, 120);
    padding-left: 10px;
}

section p {
    color: red;
    margin-bottom: 0px;
}

main article img {
    display: block;
    width: 100%;
    margin-inline: auto;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.114);
}

.sallytext {
    text-align: center;
    color: rgba(128, 128, 128, 0.678);
}

.methodtext {
    padding-left: 40px;
}